main {
    display: flex;
    flex-direction: row;
}

#contact-me {
    margin-top: 2em;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 6em;
    margin-right: 50px;
    margin-bottom: 2em;
}

#contact-me h2 {
    margin-right: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 40%;
}

input, textarea {
    font-family: 'Fira Code', monospace;
    color: white;
    width: 100%;
    border: 1px solid grey;
    padding-left: 1em;
    outline: none;
}

form button {
    font-family: 'Fira Code', monospace;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #6900F2;
    color: white;
    cursor: pointer;
}

form input {
    padding: 20px 0;
    padding-left: 1em;
}

form textarea {
    padding-left: 1em;
    padding-top: 1em;
}

img {
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    cursor: pointer;
    animation: 1s brighting linear infinite alternate-reverse;
    align-self: center;
}

h1 {
    font-size: 9vh;
    display: flex;
    gap: 0.3em;
    align-items: center;
}

h2 {
    margin-top: 3px;
    color: white;
    font-family: 'Fira Code', monospace;
    font-size: 2vh;
}

strong {
    color: #6900F2;
    text-shadow: none;
}

@keyframes opacitying {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

@keyframes brighting {
    from {
        filter: drop-shadow(0 0mm 2mm #6900F2);
    }
  
    to {
        filter: drop-shadow(0 0mm 6mm #6900F2);
    }
}

@media (orientation: portrait) {
    h1 {
        font-size: 5vh;
    }

    img {
        margin: auto;
        width: 50vw;
        height: 50vw;
    }

    #contact-me {
        flex-direction: column;
        gap: 4em;
        justify-content: space-around;
        margin-right: 0px;
    }

    #descript {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    #base {
        align-items: center;
    }

    #h1-position {
        flex-wrap: wrap;
        justify-content: center;
    }

    form {
        width: 70vw;
    }
}

@media screen and (max-aspect-ratio: 1.7) {
    h1, strong {
        font-size: 7vh;
    }
    
}

@media screen and (max-aspect-ratio: 1.4) {
    h1, strong {
        font-size: 6vh;
    }
    
}

@media screen and (max-aspect-ratio: 1.25) {
    h1, strong {
        font-size: 5vh;
    }
    
}

@media screen and (max-aspect-ratio: 1.15) {
    h1, strong {
        font-size: 4vh;
    }
    
    h2 {
        font-size: 1.5vh;
    }
}

@media (max-width: 1250px) {
    form {
        width: 50vw;
    }
}

@media (max-width: 1400px) {
    #contact-me h2 {
        margin-right: 0;
    }
    img {
        margin: auto;
        width: 30vh;
        height: 30vh;
    }
    #contact-me {
        gap: 4em;
    }
}
  
strong {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    padding-right: 3px;
    animation: blink .5s step-end alternate infinite;
}

.typing-animation {
    border-right: 3px solid;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

